* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px 40px;
}

header {
    background-color: blue;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-logo img {
    height: 30px;
}


.nav-bars {
    font-size: 1.5rem;
}

.mobile-menu {
    display: none;
}

.mobile-menu:not(:checked)~.nav-menu {
    display: none;
}

.mobile-menu:checked~.nav-menu {
    display: flex;
}

.nav-menu {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    background-color: red;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    height: auto;
}

