* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #A9D8B7;
    --darkgreen: #278543;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/*
font-family: "noto-sans", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "noto-sans", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "noto-sans", sans-serif;
font-weight: 500;
font-style: normal;

font-family: "noto-sans", sans-serif;
font-weight: 700;
font-style: normal;
*/



body {
    font-family: "noto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 5% 7%;
}

.normal-heading {
    font-family: "noto-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
}

.nav-logo img {
    height: 30px;
}

.nav-bars {
    font-size: 1.5rem;
}

.mobile-menu {
    display: none;
}

.mobile-menu:not(:checked)~.nav-menu {
    display: none;
}

.mobile-menu:checked~.nav-menu {
    display: flex;
}

.nav-menu {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--green);
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    box-shadow: -5px 5px 20px 0px #0000004a;
}

.nav-item {
    padding-top: 15%;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
    font-size: larger;
    font-weight: 600;
}

.nav-item:last-child {
    padding-bottom: 15%;
}

/*Homepage mobile*/

.big-heading-article {
    margin: 5% 7%;
    padding: 5% 0%;
}

.big-heading {
    font-family: "noto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.big-heading span {
    color: var(--darkgreen);
}

.standard-article {
    background-color: var(--green);
    width: 100%;
    padding: 5% 7%;
    line-height: 2;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 15px 10px #00000013;
}

/* .cat-chilling img {
    position: absolute;
    z-index: 100;
    top: -35%;
    right: 0;
    width: 50%;
}  */

.standard-article a {
    text-align: right;
    text-decoration: underline;
}

.home-lower {
    width: 100%;
    padding: 5% 7%;
}

.home-lower .normal-heading {
    padding-bottom: 5%;
}

/* have to fix this to be 2x2 not 1x4 */

.homepg-cat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cat-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7%;
}

.cat-posts-img {
    width: 160px;
    padding: 4% 10%;;
}

.cat-posts-img img {
    aspect-ratio: 1/1;
    border-radius: 5%;
}

.cat-name {
    font-family: "noto-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

.cat-age {
    font-family: "noto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

/* some weird shit with width happening */

.a-se-mer {
    text-align: right;
    text-decoration: underline;
}

.a-se-mer:hover {
    color: var(--green);
}


footer {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3% 0%;
    margin-top: 2%;
}

.footer-logo {
    align-self: center;
    padding: 1% 0%;
}

.footer-logo img {
    height: 30px;
}

footer li {
    padding: 1% 0%;
    list-style: none;
}

footer li a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 0.7rem;
    display: flex; 
    justify-content: space-between;
    margin: 1% 7%;
}